# Python
venv/
.venv/
backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/
build/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Logs
*.log
